.task-list-container {
    height: 75%;
    width: 100%;
    border-radius: 10px;
}

.task-list-container.light {
    background-color: white;
    transition: all .3s;
}

.task-list-container.dark {
    background-color: hsl(233, 24%, 22%);
    transition: all .3s;
}

.task-container {
    height: 12.5%;
    width: 100%;
    padding: 3% 0;
}

.checkbox-task {
    width: 2em;
    height: 2em;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border: .1px solid gray;
    margin: 0 3%;
}

.checkbox-task:checked {
    background: rgb(104,191,250);
    background: linear-gradient(140deg, rgba(104,191,250,1) 0%, rgba(153,101,231,1) 100%);
    border: none;
}

.task-text {
    font-size: 1.1rem;
}

.task-text.light {
    color: hsl(235, 19%, 35%);
    transition: all .3s;
}

.task-text.dark {
    color: white;
    transition: all .3s;
}

.tachado {
    text-decoration: line-through;
    color: hsl(237, 9%, 60%);
}

.line {
    margin-top: 3%;
}

.line.light {
    border: .1px solid rgb(217, 217, 217);
    transition: all .3s;
}

.line.dark {
    border: .1px solid hsl(234, 18%, 32%);
    transition: all .3s;
}

.buttons-container {
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clear-button, .pending-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    border: none;
    background-color: transparent;
    font-size: .9rem;
    color: hsl(237, 9%, 60%);
    margin: 0 5%;
    margin-bottom: 2%;
}

.clear-button {
    cursor: pointer;
}